{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if not description %}
        <h1>MediCheck</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
            </div>
            <div class="mb-3">
                <label class="button">
                    <input type="radio" name="button-group" value="MRI" />
                    MRI
                </label>
                <label class="button">
                    <input type="radio" name="button-group" value="XRAY" />
                    X-Ray
                </label>
                <label class="button">
                    <input type="radio" name="button-group" value="ULTRA" />
                    Ultrasound
                </label>
                <label class="button">
                    <input type="radio" name="button-group" value="PET" />
                    PET
                </label>
            </div>
            <div class="mb-3">
                <label class="button">
                    <input type="radio" name="button-group2" value="CHEST" />
                    Chest
                </label>
                <label class="button">
                    <input type="radio" name="button-group2" value="BREAST" />
                    Breast
                </label>
                <label class="button">
                    <input type="radio" name="button-group2" value="BRAIN" />
                    Brain
                </label>
                <label class="button">
                    <input type="radio" name="button-group2" value="ARMLEFT" />
                    Arm-Left
                </label>
                <label class="button">
                    <input type="radio" name="button-group2" value="ARMRIGHT" />
                    Arm-Right
                </label>
                <label class="button">
                    <input type="radio" name="button-group2" value="LEGLEFT" />
                    Leg-Left
                </label>
                <label class="button">
                    <input type="radio" name="button-group2" value="LEGRIGHT" />
                    Leg-Right
                </label>
            </div>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    {% else %}
        {% if image_filename %}
            <h2>Uploaded Image:</h2>
            <img src="{{ url_for('static', filename='images/' + image_filename) }}" alt="Uploaded Image" style="border-radius: 20px; padding-bottom:2rem;">
        {% endif %}
        
        {% if description %}
            <h2>Description:</h2>
            <p>{{ description }}</p>
        {% endif %}
        
    {% endif %}
{% endblock %}